<div class="Header">
  <nav class="navbar">
    <div class="navbar-left">
      <div class="LOGO">
        <img class="LOGO" src="/images/favicon.ico" alt="EventMaster Logo">
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <div class="dropdown">
          <a href="#" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <a href="/concert">Concerts</a>
            <a href="/exhibition">Exhibitions</a>
            <a href="/tedx">TEDx</a>
            <a href="/health-camp">Health Camps</a>
          </div>
        </div>
        <a href="/contact">Contact Us</a>
        <a href="/host">Host with Us</a>
      </div>
    </div>
    <div class="navbar-right">
      <div class="button-group">
        <button class="btn btn-signup" onclick="window.location.href = '/sign-up'">Sign Up</button>
        <button class="btn btn-login" onclick="window.location.href = '/login'">Log in</button>
      </div>
    </div>
  </nav>
</div>