<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home_navbar.css">
  <link rel="stylesheet" href="/css/category.css">
  <link rel="stylesheet" href="/css/background.css">
</head>

<body class="background-container">
  <div class="content">
    <h2><%= title %> Events</h2>
    <p><%= description %></p>
    <ul>
      <li>Event 1: Description of event 1</li>
      <li>Event 2: Description of event 2</li>
      <li>Event 3: Description of event 3</li>
    </ul>
  </div>
</body>

</html>