<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="decorative-gradiant-2"></div>
        <div class="contact-container">
            <div class="contact-content">
                <div class="form-section">
                    <h2>Want To Reserve?</h2>
                    <form action="/submit" method="POST">
                        <input type="text" name="name" placeholder="Your name*" required>
                        <input type="email" name="email" placeholder="Email*" required>
                        <input type="text" name="phone" placeholder="Phone number*" required>
                        <input type="text" name="subject" placeholder="Subject*" required>
                        <textarea name="message" placeholder="Your message"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="decorative-gradiant-1"></div>
                <div class="contact-section">
                    <h2>Contact Us</h2>
                    <p>Fill out the form to attend the most anticipated events in the city and get your tickets for the
                        best night party today for you and your friends.</p>

                    <div class="address-info">
                        <p>5655 Central Express way Satyavedu Mandal, Chittoor District, Sri, Andhra Pradesh 517541</p>
                        <p><a href="tel:+918310236848">+91 8310236848</a></p>
                        <p><a href="mailto:shriansh.j23@iiits.in">shriansh.j23@iiits.in</a></p>
                    </div>
                    <div class="social-links">
                        <a href="#">FB</a> -
                        <a href="#">INST</a> -
                        <a href="#">TW</a>
                    </div>
                    <br>
                    <div class="logo-section">
                        <img src="/images/logo.png" alt="Company Logo" class="contact-logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- Map Section -->
        <div class="map-container">
            <div class="map-wrapper">
            <iframe class="embed-map-frame" frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?hl=en&q=Indian%20institute%20of%20information%20technology%2C%20Sri%20City&t=&z=15&ie=UTF8&iwloc=B&output=embed"
            style="filter: invert(100%) hue-rotate(180deg);"></iframe>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>
</html>