<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home_navbar.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/buttons.css">
</head>

<body class="background-container"> 
  
    <div class="Header">
      <div class="LOGO">
        <img class="lI" src="./images/favicon.ico" alt="">
      </div>
      <div class="navbar">
        <div class="button-group">
          <button class="btn btn-signup" onclick="window.location.href = '/sign-up' ">Sign Up</button>
          <button class="btn btn-login" onclick="window.location.href = '/login' ">Log in</button>
        </div>
      </div>
    </div>


    <div class="blank-space-20px" style="height: 20px;"></div>
    <div class="hero"><img src="" alt="">
      <div class="hero-text">
        <h1>Welcome to EventMaster</h1>
        <p>Your ultimate solution for seamless event management. Plan, organize, and execute events with ease and
          efficiency.</p>
        <button class="cta-button">Get Started</button>
      </div>

    </div>

    <!-- Search by location and normal-->
    <div class="search-container">
      <div class="search-box">
        <input class="input" placeholder="Search" required="" type="text">
        <span class="input-border"></span>
      </div>

      <div class="search-box">
        <input class="input" placeholder="Search by location" required="" type="text">
        <span class="input-border"></span>
      </div>
    </div>


    <h2 class="home-heading">Browse</h2>
    <div class="content">
      <div class="category-card" onclick="window.location.href = '/concert'">
        <img src="images/blank.png" alt="concert Icon">
        <p>concert</p>
      </div>
      <div class="category-card" onclick="window.location.href = '/exhibition'">
        <img src="images/blank.png" alt="exhibition Icon">
        <p>exhibition</p>
      </div>
      <div class="category-card" onclick="window.location.href = '/tedx'">
        <img src="images/blank.png" alt="TEDx Icon">
        <p>TEDx</p>
      </div>
      <div class="category-card" onclick="window.location.href = '/health-camp'">
        <img src="images/blank.png" alt="Health-camp icon">
        <p>Health-camp</p>
      </div>
    </div>
    <div class="pagination">
      <button>«</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>»</button>
    </div>
  
</body>

</html>