<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .Header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #333;
    }

    .LOGO {
        display: block;
        width: 40px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('images/background-pattern.png');
        background-size: auto 100vh;
        background-repeat: repeat-x;
        background-attachment: fixed;
        height: 100vh;
        overflow: hidden;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 1rem;
        height: 3rem;
    }

    .navbar a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding: 1rem 2rem;
        margin-left: 0.5rem;
        font-size: 1rem;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
        border-radius: 10px;
    }

    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        border-radius: 10px;
        transform: scale(1.1);
    }
</style>
<body>
    <div class="Header">
        <div class="LOGO">
          <img class="LOGO" src="./images/favicon.ico" alt="">
        </div>
        <nav class="navbar">
          <a href="/">Home</a>
          <!-- <a href="/login">Login</a>
          <a href="/sign-up">Sign Up</a> -->
        </nav>
      </div>
</body>
</html>