
/* Css for category cards*/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .category-card {
    width: 15%; /* Further reduced width to make cards smaller */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: border 0.1s ease, transform 0.1s ease;
    border: 3px solid rgba(100, 61, 136, 0);;
  
  }
  
  .category-card img {
    width: 100%;
    height: auto;
  }
  
  .category-card p {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .category-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .category-card:hover::before {
    opacity: 1;
  }
  
  .category-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .category-card:hover::after {
    opacity: 1;
  }
  
  .category-card:hover {
    border: 3px solid rgb(100, 61, 136);
    box-shadow: 0 0 10px rgba(191, 123, 255, 0.781);
  }