/*CSS for Hero*/
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0px 20px 207px 10px rgba(100, 61, 136, 0.3);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, #212121), url('../images/background-pattern.png');
}


.hero-text {
  position: relative;
  z-index: 2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-heading {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
}

/* Css for category cards*/
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-card {
  width: 15%;
  height: 180px; /* Fixed height for consistency */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid rgba(100, 61, 136, 0);
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.category-card p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  z-index: 3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.1) 100%);
  z-index: 2;
}

.category-card:hover {
  transform: translateY(-5px);
  border: 3px solid rgb(100, 61, 136);
  box-shadow: 0 10px 15px rgba(100, 61, 136, 0.4);
}

.category-card:hover::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(100, 61, 136, 0.3) 100%);
}


/*Css for pagination*/

.pagination {
  position: relative;
  height: 60px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;
}
.pagination li {
  list-style-type: none;
  display: inline-block;
}

.pagination li a {
  position: relative;
  padding: 20px 25px;
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  border: 1px solid rgb(217, 176, 255);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pagination li a:hover {
  background-color: rgb(231, 206, 255);
  color: #212121;
  box-shadow: 0 0 10px rgba(191, 123, 255, 0.781);
}